<nav class='navbar navbar-default navbar-fixed-top'>
    <div class='container-fluid'>
        <button class='navbar-toggle collapsed' data-toggle='collapse'>
            <span class='sr-only'>Toggle Navigation</span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
        </button>
    </div>
    <div class='collapse navbar-collapse'>
        <ul class='nav navbar-nav'>
            {{#each navigation}}
                {{#if articles}}
                <li class='dropdown'>
                    <a href='javascript:void(0);' class='dropdown-toggle' data-toggle='dropdown'>
                        {{name}}
                        <span class='caret'></span>
                    </a>
                    <ul class='dropdown-menu'>
                        {{#each articles}}
                        <li><a href='{{link}}'>{{name}}</a></li>
                        {{/each}}
                    </ul>
                </li>
                {{else if categories}}
                <li class='dropdown'>
                    <a href='javascript:void(0);' class='dropdown-toggle' data-toggle='dropdown'>
                        {{name}}
                        <span class='caret'></span>
                    </a>
                    <ul class='dropdown-menu'>
                        {{#each categories}}
                            <li role='separator' class='divider'>{{name}}</li>
                            {{#each articles}}
                            <li><a href='{{link}}'>{{name}}</a></li>
                            {{/each}}
                        {{/each}}
                    </ul>
                </li>
                {{else}}
                <li><a href='{{link}}'>{{name}}</a></li>
                {{/if}}
            {{/each}}
        </ul>
    </div>
</nav>